//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMRight: HMRight {
            compatible = "zmk,behavior-hold-tap";
            label = "HMRIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };

        HMLeft: HMLeft {
            compatible = "zmk,behavior-hold-tap";
            label = "HMLEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            flavor = "tap-preferred";
        };

        SingleQuoteTD: SingleQuoteTD {
            compatible = "zmk,behavior-tap-dance";
            label = "SINGLEQUOTETD";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };
    };

    combos {
        compatible = "zmk,combos";

        RightEnter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        LeftlEnter {
            bindings = <&kp ENTER>;
            key-positions = <11 12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
         &kp Q                 &kp W           &kp E               &kp R            &kp T          &kp Y        &kp U             &kp I                 &kp O                &kp P
         &HMLeft LEFT_SHIFT A  &HMLeft LWIN S  &HMLeft LEFT_ALT D  &HMLeft LCTRL F  &kp G          &kp H        &HMRight RCTRL J  &HMRight RIGHT_ALT K  &HMRight LEFT_WIN L  &HMRight RIGHT_SHIFT SEMICOLON
&kp ESC  &kp Z                 &kp X           &kp C               &kp V            &kp B          &kp N        &kp M             &kp COMMA             &kp DOT              &kp FSLH                        &SingleQuoteTD
                                               &mo 3               &lt 2 LEFT_WIN   &lt 1 SPACE    &lt 1 SPACE  &lt 2 ENTER       &kp BACKSPACE
            >;
        };

        nav_num {
            bindings = <
       &kp N1          &kp N2    &kp N3        &kp N4     &kp N5    &kp N6          &kp N7          &kp N8        &kp N9           &kp N0
       &kp LEFT_SHIFT  &kp LWIN  &kp LEFT_ALT  &kp LCTRL  &none     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp N4
&none  &none           &none     &none         &none      &none     &kp PERIOD      &kp DEL         &kp MINUS     &kp STAR         &kp FSLH  &kp CARET
                                 &trans        &trans     &trans    &kp EQUAL       &kp PLUS        &kp PERCENT
            >;
        };

        sym_func {
            bindings = <
           &kp ESC        &kp LEFT_BRACE        &kp RIGHT_BRACE        &none             &none             &kp F1   &kp F2           &kp F3   &kp F4   &kp F5
           &kp TAB        &kp LBKT              &kp RBKT               &kp ENTER         &kp BSLH          &kp F6   &kp F7           &kp F8   &kp F9   &kp F10
&kp GRAVE  &kp LESS_THAN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GREATER_THAN  &kp UNDERSCORE    &kp F11  &kp F12          &kp F13  &kp F14  &kp F15  &kp F16
                                                &trans                 &trans            &trans            &none    &kp RIGHT_SHIFT  &none
            >;
        };

        device {
            bindings = <
       &none  &none  &none  &none  &kp C_VOLUME_UP      &kp C_BRIGHTNESS_INC  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3
       &none  &none  &none  &none  &kp C_VOLUME_DOWN    &kp C_BRIGHTNESS_DEC  &bt BT_NXT    &bt BT_PRV    &bt BT_CLR    &none
&none  &none  &none  &none  &none  &kp K_MUTE           &none                 &none         &none         &none         &none         &bt BT_SEL 4
                     &none  &none  &none                &none                 &none         &none
            >;
        };

        extra1 { status = "reserved"; };

        extra3 { status = "reserved"; };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <1 2>;
            then-layer = <4>;
        };
    };
};
