//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMRight: home_row_mode_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
            quick-tap-ms = <175>;
        };

        HMLeft: home_row_mode_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            flavor = "tap-preferred";
            quick-tap-ms = <175>;
        };

        SingleQuoteTD: single_quote_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };

        HMShiftL: home_row_shift_mode_left {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            #binding-cells = <2>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <9 15 18 19 26 27 28 29 30 31 35 36 37 5 6 7 8 9 15 16 17 18 19 28>;
            hold-trigger-on-release;
            tapping-term-ms = <200>;
        };

        HMShiftR: home_row_shift_mode_right {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&kp>;
            flavor = "balanced";
            #binding-cells = <2>;
            quick-tap-ms = <175>;
            hold-trigger-on-release;
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
        };
    };

    combos {
        compatible = "zmk,combos";

        RightEnter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };

        LeftlEnter {
            bindings = <&kp ENTER>;
            key-positions = <11 12 13>;
        };

        ESCCombo {
            bindings = <&kp ESC>;
            key-positions = <10 20>;
        };

        LParenthesis {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <13 12>;
            timeout-ms = <20>;
        };

        RParenthesis {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <16 17>;
            timeout-ms = <20>;
        };

        LCBracket {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <3 2>;
            timeout-ms = <20>;
        };

        RCBracket {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <6 7>;
            timeout-ms = <20>;
        };

        LSBracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <24 23>;
            timeout-ms = <20>;
        };

        RSBracket {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <27 28>;
            require-prior-idle-ms = <0>;
            timeout-ms = <20>;
        };

        underscoreCombo {
            bindings = <&kp UNDER>;
            key-positions = <18 19>;
            layers = <1>;
        };

        AltTabM {
            bindings = <&AltTab>;
            key-positions = <13 33>;
            timeout-ms = <35>;
        };
    };

    macros {
        AltTab: AltTab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "ALTTAB";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
           &kp Q                   &kp W           &kp E               &kp R            &kp T          &kp Y        &kp U             &kp I                 &kp O                &kp P
           &HMShiftL LEFT_SHIFT A  &HMLeft LWIN S  &HMLeft LEFT_ALT D  &HMLeft LCTRL F  &kp G          &kp H        &HMRight RCTRL J  &HMRight RIGHT_ALT K  &HMRight LEFT_WIN L  &HMShiftR RIGHT_SHIFT SEMICOLON
&kp GRAVE  &kp Z                   &kp X           &kp C               &kp V            &kp B          &kp N        &kp M             &kp COMMA             &kp DOT              &kp FSLH                         &SingleQuoteTD
                                                   &lt 3 LEFT_WIN      &lt 2 TAB        &lt 1 SPACE    &lt 1 SPACE  &lt 2 ENTER       &lt 3 BACKSPACE
            >;
        };

        nav_num {
            bindings = <
       &kp N1          &kp N2    &kp N3        &kp N4     &kp N5    &kp N6          &kp N7          &kp N8        &kp N9           &kp N0
       &kp LEFT_SHIFT  &kp LWIN  &kp LEFT_ALT  &kp LCTRL  &none     &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp MINUS
&none  &none           &none     &none         &none      &none     &none           &kp PLUS        &kp EQUAL     &none            &kp BACKSLASH  &kp DOUBLE_QUOTES
                                 &trans        &trans     &trans    &trans          &trans          &kp DEL
            >;
        };

        sym_func {
            bindings = <
        &kp F2    &kp F3  &kp F4    &kp F5      &kp F6         &kp F7     &kp F8           &kp F9            &kp F10  &kp F11
        &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND    &kp ASTERISK      &none    &kp PIPE
&kp F1  &none     &none   &none     &none       &none          &none      &kp LESS_THAN    &kp GREATER_THAN  &none    &none     &kp F12
                          &trans    &trans      &trans         &none      &kp RIGHT_SHIFT  &none
            >;
        };

        device {
            bindings = <
       &none  &none  &none  &none  &kp C_VOLUME_UP      &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3
       &none  &none  &none  &none  &kp C_VOLUME_DOWN    &none  &bt BT_NXT    &bt BT_PRV    &bt BT_CLR    &none
&none  &none  &none  &none  &none  &kp C_MUTE           &none  &none         &none         &none         &none         &bt BT_SEL 4
                     &none  &none  &none                &none  &none         &none
            >;
        };

        navigation {
            bindings = <
        &trans  &trans  &trans  &kp C_VOLUME_UP    &kp C_BRIGHTNESS_INC    &kp PAGE_UP    &trans    &trans   &trans  &trans
        &trans  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_BRIGHTNESS_DEC    &kp PAGE_DOWN  &kp HOME  &kp END  &trans  &trans
&trans  &trans  &trans  &trans  &kp C_MUTE         &none                   &trans         &trans    &trans   &trans  &trans  &trans
                        &trans  &trans             &trans                  &trans         &trans    &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
