#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMRight: HMRight {
            compatible = "zmk,behavior-hold-tap";
            label = "HMRIGHT";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            // Positions for the LEFT side of the board
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
            hold-trigger-on-release;
            flavor = "tap-preferred";
        };

        HMLeft: HMLeft {
            compatible = "zmk,behavior-hold-tap";
            label = "HMLEFT";
            bindings = <&kp>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-trigger-on-release;
            // Positions for the RIGHT side of the board
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
            flavor = "tap-preferred";
        };

        SingleQuoteTD: SingleQuoteTD {
            compatible = "zmk,behavior-tap-dance";
            label = "SINGLEQUOTETD";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };
    };

    combos {
        compatible = "zmk,combos";
        RightEnter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };
        LeftlEnter {
            bindings = <&kp ENTER>;
            key-positions = <11 12 13>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
    &kp Q      &kp W      &kp E       &kp R       &kp T         &kp Y      &kp U       &kp I       &kp O      &kp P
    &HMLeft LSHIFT A &HMLeft LWIN S &HMLeft LALT D &HMLeft LCTRL F &kp G   &kp H &HMRight RCTRL J &HMRight RALT K &HMRight LWIN L &HMRight RSHIFT SEMI
&kp ESC &kp Z  &kp X      &kp C       &kp V       &kp B         &kp N      &kp M       &kp COMMA   &kp DOT    &kp FSLH   &SingleQuoteTD
                          &kp LGUI    &mo 2       &lt 1 SPACE   &lt 1 SPACE &lt 2 ENTER &kp BSPC
            >;
        };

        nav_num {
            bindings = <
    &kp N1     &kp N2     &kp N3      &kp N4      &kp N5        &kp N6     &kp N7      &kp N8      &kp N9     &kp N0
    &none      &kp LEFT   &kp DOWN    &kp RIGHT   &none         &kp LEFT   &kp DOWN    &kp UP      &kp RIGHT  &kp N4
&kp LG(BSPC) &kp LG(UP) &kp LG(LEFT) &kp ENTER   &kp LG(RIGHT) &kp LG(DOWN) &kp DOT &kp PLUS   &kp MINUS   &kp STAR   &kp FSLH   &kp CARET
                          &trans      &trans      &trans        &kp EQUAL  &kp RSHIFT  &kp PERCENT
            >;
        };

        sym_func {
            bindings = <
    &kp ESC    &kp LBRC   &kp RBRC    &none       &none         &kp F1     &kp F2      &kp F3      &kp F4     &kp F5
    &kp TAB    &kp LBKT   &kp RBKT    &kp ENTER   &kp BSLH      &kp F6     &kp F7      &kp F8      &kp F9     &kp F10
&kp GRAVE &kp LT &kp LPAR   &kp RPAR    &kp GT      &kp UNDER     &kp F11    &kp F12     &kp F13     &kp F14    &kp F15    &kp F16
                          &trans      &trans      &trans        &none      &kp RSHIFT  &none
            >;
        };

        device {
            bindings = <
    &none      &kp C_BRI_DEC &kp C_BRI_INC &none      &none     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
    &kp K_MUTE &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP   &none     &none        &none        &none        &none        &none
&none &none    &none         &none         &none      &none     &none        &none        &none        &none        &none        &bt BT_CLR
                             &none         &none      &none     &none        &none        &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        device_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
